.icons > input{
    width: 100px;
}
.btn-nav{
    border: 1px solid rgb(53, 79, 165);
    margin: 2px;
}

.btn-nav:hover{
    background-color: rgb(67, 126, 221);
    transition:all 1s;
    color:white;
}
a{
    text-decoration: none;
    color: black;
    font: 500 1.2vmax "san-sarif"
}
a:hover {
    color: tomato;
}
li{
    margin: 2vmax ;
}

a.active{
    color: tomato;
}

